name: Sync Kaggle Notebook

on:
  workflow_dispatch:


jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    env:
      KAGGLE_USERNAME: ${{ secrets.KAGGLE_USERNAME }}
      KAGGLE_KEY: ${{ secrets.KAGGLE_KEY }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Kaggle API
        run: |
          python -m pip install --upgrade pip
          pip install kaggle

      - name: Configure Kaggle credentials
        run: |
          mkdir -p ~/.kaggle
          echo "{\"username\":\"$KAGGLE_USERNAME\",\"key\":\"$KAGGLE_KEY\"}" > ~/.kaggle/kaggle.json
          chmod 600 ~/.kaggle/kaggle.json

      - name: Pull latest Kaggle notebook
        run: |
          mkdir -p kaggle_notebooks
          kaggle kernels pull shivanisharma1297/sales-forecasting-bi-pipeline-r-d \
            -p kaggle_notebooks \
            

      - name: Commit and push if changed
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add kaggle_notebooks/*.ipynb || true
          git diff --cached --quiet || git commit -m "Auto-sync Kaggle notebook"
          git push
